.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btns{
    margin-top: 20px;
}

.align-center{
    text-align: center;
}

.mat-form-field{
    width: 500px;
    margin-top: 20px;
}
.mat-raised-button{
    width: 100px;
}